[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
isort = "*"
autoflake = "*"
pytest = "*"

[packages]
instagram-private-api-1-6-0 = {git = "https://git@github.com/ping/instagram_private_api.git",ref = "1.6.0"}
instagram-private-api-extensions-0-3-8 = {git = "https://git@github.com/ping/instagram_private_api_extensions.git",ref = "0.3.8"}

[requires]
python_version = "3.6"

[scripts]
main = "python main.py"
lint = "flake8 main.py ignotify/"
format = '$SHELL -c "autopep8 -ri main.py ignotify/; autoflake -ri --remove-all-unused-imports --remove-unused-variables --ignore-init-module-imports ignotify/; isort -rc main.py ignotify/"'
